*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    background-image: url(./images/background.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

.container {
    width: 370px;
    margin: 0 auto;
    padding: 0 auto;
}

/* -----------------
   airopline-card
-------------------*/
.airopline-card {
    width: 370px;
    height: 390px;
    background-color: mintcream;
    margin-top: 70px;
    align-items: center;
    display: flex;
    border-radius: 5px;
    justify-content: center;
    display: inline-block;
}

.mini-airopline {
    padding: 50px 30px 30px 30px;
}

.section-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.span-1 {
    font-size: 35px;
    display: inline-block;
    font-weight: 900;
    color: royalblue;
}

.text-1 {
    font-size: 12px;
    color: #434343;
    font-style: normal;
    font-weight: normal;
}

.hr-line {
    background-color: blue;
    color: blue;
    display: inline-block;
}

.line {
    width: 20px;
    height: 2px;
}

/* ----------------
   SECTION-MIDDLE
------------------*/
.section-middle {
    margin-top: 45px;
}

.text-middle {
    font-size: 10px;
}

.section-middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.margin-1 {
    margin-right: 35px;
}

.margin-2 {
    margin-right: 65px;
}

.span-middle {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #000000;
}

/* -----------------
   section-bottom
-------------------*/
.section-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom {
    margin-top: 23px;
}

.text-bottom {
    font-size: 9.5px;
    line-height: 15px;
}

.span-bottom {
    font-size: 14px;
    font-weight: 500;
}

.right {
    margin-top: 25px;
}